.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.menu-bar{
  background-color: rgb(218, 218, 218);
  width: 20%;
  height: 100vh;
  position: fixed;
}
.main{
  margin-left: 20%;
  width: 80%;
  height: 100%;
  overflow: hidden;
}