*{
  margin: 0;
  padding: 0;
}
.container{
  height: 100%;
  width: 100vmax;
  display: flex;
  flex-direction: row;
}
.menu-bar{
  background-color: rgb(218, 218, 218);
  width: 20vmax;
  height: 100%;
}
.main{
  width: 80vmax;
  height: 100vh;
  padding: 20px;
}